.page-template-archive-project {
  padding-top: 135px;

  &.single {
    .e-content {
      padding: 0;

    }
  }

  .page-header {

    h1 {
      margin-bottom: 30px;

    }
  }


  .wpc-edit-filter-set {
    display: none;
  }

  .project-archive-posts {
    padding-top: 100px;
    padding-bottom: 40px;
  }


  .project-query-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;
    position: relative;

    .project-card {
      @include b(tablet) {
        margin-right: 0;
      }
    }


    .logo {
      position: absolute;
      top: 0;
      right: 0;
      height: 175px;
      width: 248px;

      @include b(mobile) {
        display: none;
      }


      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: translate(32%, -50%);
      }
    }
  }


}
