.btn {
  display: inline-flex;
  padding: 9px 54px;
  min-width: 210px;
  min-height: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: $semi-bold;
  line-height: 25px;
  letter-spacing: 1.6px;
  font-family: $font-btn;
  text-transform: capitalize;
  border: 1px solid $bright;
  border-radius: 23px;
  @include transition();
  @include appearance();
  text-decoration: none;
  cursor: pointer;

  a {
    color: inherit !important;
    text-decoration: inherit !important;
  }


  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    outline: 0;
    cursor: pointer;

  }
}

.btn--outline, .btn--outline:visited {
  background-color: $lightest;
  color: $bright;
  cursor: pointer;

  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    background-color: $bright;
    color: $lightest;
    cursor: pointer;

  }
}

.btn--outline-light, .btn--outline-light:visited {
  background-color: transparent;
  color: $lightest;
  border: 1px solid $lightest;

  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    background-color: $lightest;
    color: $bright;
    cursor: pointer;
    border-color: $lightest;

  }
}

.btn--primary-light, .btn--primary-light:visited {
  background-color: $bright;
  color: $lightest;
  border: 1px solid $lightest;

  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    background-color: $lightest;
    color: $bright;
    cursor: pointer;
    border-color: $lightest;

  }

}

.btn--primary, .btn--primary:visited {
  background-color: $bright;
  color: $lightest;

  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: $bright;
    cursor: pointer;

  }
}

.btn--text, .btn--text:visited {
  background-color: transparent;
  color: $bright;
  text-decoration: underline;
  text-decoration-color: $lightest;
  @include transition();
  font-weight: $semi-bold;
  font-family: $font-normal;
  @include font-size(16);
  letter-spacing: 1.6px;
  text-underline-offset: 3px;

  &:hover, &:active, &:not(:disabled):not(.disabled):active {
    text-decoration-color: $bright;
  }
}
