
.wpc-filter-layout-dropdown .select2-container--default .select2-selection--single, .wpc-sorting-form .select2-container--default .select2-selection--single {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  @include font-size(16);
  line-height: 30px;
  font-weight: $regular;
  display: block;
  width: auto;
  border: 1px solid $darkest;


  &:hover {
    background-color: $light;
  }

  .select2-selection__rendered {
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }


}

.select2-container--default.select2-container--open .wpc-filter-everything-dropdown.select2-dropdown .select2-search, .wpc-filters-main-wrap .wpc-filter-has-brands .wpc-filters-labels li.wpc-term-has-image label {
  display: none;
}

.select2-container--classic .select2-results > .select2-results__options, .select2-container--default .select2-results > .select2-results__options {
  max-height: unset !important;
  overflow-y: unset !important;
}

.select2-selection--single {
  position: relative;

  &:after {
    content: '';
    background-image: url('../../views/components/Plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 8px;
    @include transition();
  }
}


.select2-container--open {
  .selection .select2-selection--single {
    border-bottom-color: transparent;

    &:after {
      transform: rotate(45deg);
    }
  }
}

.select2-selection__arrow {
  display: none;
}

.select2-results {
  border: none;
}

.select2-container--default.select2-container--open .wpc-filter-everything-dropdown.select2-dropdown {
  border-color: $darkest;
}

.select2-container--default .select2-results__option--selected, .select2-container--default .wpc-filter-everything-dropdown .select2-results__option--highlighted[aria-selected], .select2-container--default .wpc-filter-everything-dropdown .select2-results__option--highlighted[data-selected] {
  background-color: $light !important;
  color: $darkest !important;
}

.select2.select2-container.select2-container--default {
  width: 519px !important;
}

