
#app {

}

html {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;


  ::selection {
    background-color: $bright;
    color: $mid;
  }

  body {
    position: relative;
    overflow: hidden;
  }

  .grecaptcha-badge {
    visibility: hidden;
  }

  .sr-only {
    left: 10%;
    position: absolute;
    transform: translateY(-400px);
    background: #EDEDEB;
    height: 30px;
    width: 190px;
    padding: 28px;
    @include transition();
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:focus, &:focus-within {
      transform: translateY(0%);
    }
  }


  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    box-shadow: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $light;
    box-shadow: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mid;
    border-radius: 15px;
    box-shadow: none;
  }
}

#main {
  overflow: hidden;
  //width: 100%;
  margin-top: $header-height;
}

.container {
  max-width: 1052px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include b(laptop) {
    padding-left: 113px;
    padding-right: 113px;
    margin: 0;
    max-width: 100vw;
  }

  @include b(tablet) {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: -1px;
  }

  @include b(mobile) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.mini-container {
  max-width: 697px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bump {
  height: $header-height;
  position: relative;
}


button.cta {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;


  p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  svg {
    height: 20px;
    stroke: $bright;
  }

}

.editor-post-title {
  padding: 20px;
}

.tags {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: 20px;

  .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 28px;
    max-height: 35px;
    color: $lightest;
    @include font-size(14);
    border-radius: 21px;
    border: 1px solid $lightest;
    background-color: #FFFFFF26;
    margin-right: 10px;
    text-align: center;
  }
}

.full-height {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-line {

}


