
#app {

}

html {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: $header-height;

  body {
    position: relative;
  }

  .grecaptcha-badge {
    visibility: hidden;
  }

  .sr-only {
    left: 10%;
    position: absolute;
    transform: translateY(-400px);
    background: #EDEDEB;
    height: 30px;
    width: 190px;
    padding: 28px;
    @include transition();
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:focus, &:focus-within {
      transform: translateY(0%);
    }
  }


  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    box-shadow: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: $lightest;
    box-shadow: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $mid;
    border-radius: 15px;
    box-shadow: none;
  }
}

#main {
  //overflow: hidden;
  //width: 100%;
  margin-top: $header-height;
}

.container {
  max-width: 1052px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mini-container {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bump {
  height: $header-height;
  position: relative;
}


button.cta {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;


  p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  svg {
    height: 20px;
    stroke: $bright;
  }

}

.editor-post-title {
  padding: 20px;
}


