
.single {

  .e-content {
    @include b(mobile) {
      padding-left: 24px;
      padding-right: 24px;
    }

  }

  .post-navigation {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav-previous, .nav-next {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      @include transition();
      color: $darkest;
      @include font-size(16);
      letter-spacing: 1.6px;
      line-height: 25px;
      font-weight: $semi-bold;

      &:hover {
        text-decoration-color: $bright;
      }


    }

    .nav-next {
      margin-left: auto;

      svg {
        margin-left: 3px;
      }
    }

    .nav-previous {
      margin-right: auto;

      svg {
        transform: rotate(180deg);
        margin-right: 3px;
      }
    }
  }
}
