.single-project {
  padding-top: 135px;

  .page-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 80px;

    h1 {
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .post-meta {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .location-term {
        white-space: nowrap;
      }

      .date-term {

      }

    }


    .tags {
      position: relative;
      top: unset;
      left: unset;

      @include b(mobile) {
        flex-wrap: wrap;

      }

      .tag {
        border-color: $darkest;
        color: $darkest;

        @include b(mobile) {
          margin-bottom: 8px;
        }
      }
    }

  }


}
