/***********************************************************************/
/* TYPOGRAPHY
/***********************************************************************/
/********** Text Select Color ******************************************/
::selection, ::-moz-selection {
  color: $lightest;
  background: $bright; /* WebKit/Blink Browsers */
}

body {
  font-family: $font-text;
  @include font-size(16);
  font-weight: $regular;
  line-height: 30px;
  color: $darkest;
}

/***********************************************************************/
/********** Headings ***************************************************/
/***********************************************************************/
.title, .heading {
  font-family: $font-heading;
}

h1, .h1 {
  @include font-size(55);
  margin: 0;
  line-height: 70px;
  font-family: $font-heading;
  letter-spacing: -0.55px;
  font-weight: $medium;

  p, a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  @include b(tablet) {
    @include font-size(45);
    line-height: 55px;
    letter-spacing: -0.45px;
  }
}

h2, .h2 {
  @include font-size(35);
  line-height: 45px;
  font-family: $font-heading;
  color: $bright;
  letter-spacing: 0;
  font-weight: $medium;
  margin-bottom: 30px;
  margin-top: 0;

  p, a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  @include b(tablet) {
    @include font-size(29);
    line-height: 40px;
  }
}

h3, .h3 {
  @include font-size(27);
  line-height: 32px;
  font-family: $font-heading;
  color: $bright;
  letter-spacing: 0;
  font-weight: $medium;
  margin-top: 0;

  p, a {
    font-size: inherit;
    line-height: inherit;
    color: inherit !important;
  }
}

h4, .h4 {
  @include font-size(20);
  line-height: 25px;
  font-family: $font-heading;
  color: $bright;
  letter-spacing: 0;
  text-transform: none;
  font-weight: $semi-bold;
  margin-top: 0;

  p, a {
    font-size: inherit;
    line-height: inherit;
    color: inherit !important;
  }
}

h5, .h5 {
  @include font-size(15);
  line-height: 25px;
  font-family: $font-heading;
  color: $bright;
  letter-spacing: 0;
  font-weight: $regular;

  p, a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}


/***********************************************************************/
/*********** Paragraphs and Text Effects *******************************/
/***********************************************************************/
p, .p {
  @include font-size(16);
  line-height: 30px;
  font-family: $font-text;
  color: $darkest;
  font-weight: $regular;
}

i, em {
  @include transition();
}

b, strong {
  font-weight: bold;
}

small {
}

sup, sub {
}

/***********************************************************************/
/*********** Links *****************************************************/
/***********************************************************************/
//a, a:visited {
//  color: $link-color;
//  text-decoration: underline;
//  text-underline-color: transparent;
//  outline: none;
//  @include transition();
//}
//
//a:hover, a:focus, a:active {
//  text-underline-color: $link-color;
//  text-decoration: none;
//  outline: none;
//}

/***********************************************************************/
/********** Lines & Boxes **********************************************/
/***********************************************************************/
hr {
  height: 0px;
  margin: $baseline*3 0px;
  border: none;
  border-bottom: 2px solid var(--black);
}

/***********************************************************************/
/********** Default Blockquote Styles **********************************/
/***********************************************************************/
blockquote {
  p {
  }

  cite {
    &::before {
    }
  }
}

.pullquote {
  font-family: $font-accent;
  @include font-size(60);
  font-weight: $semi-bold;
  line-height: 75px;
}

.mice {
  font-family: $font-normal;
  @include font-size(14);
  line-height: 22px;
  font-weight: $regular;
}

/***********************************************************************/
/****** LISTS **********************************************************/
/***********************************************************************/
ol, ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

main {
  ol, ul {
    list-style-position: inside;
    font-weight: normal;
  }
}

/***********************************************************************/
/****** INPUT **********************************************************/
/***********************************************************************/
input {
}
