/***********************************************************************/
/* VARIABLES ==========================================================*/
/***********************************************************************/

/***********************************************************************/
/*==== SITE COLORS ====================================================*/
/***********************************************************************/

// Define your default Sass variables
$lightest: #FFFFFF;
$light: #EDEDEB;
$mid: #CCCCC4;
$bright: #2B382C;
$darkest: #222222;
$darkest-hover: #545454;

/* Text Color */
$text-color-primary: $darkest;
$text-color-light: $light;
$text-color-dark: $darkest;

/* Background Color (For page. Typically white or grey) */
$background-color: $lightest;
$background-color-light: $lightest;
$background-color-dark: $bright;

/* Link color <a> */
$link-color: #283329;


/***********************************************************************/
/*==== TYPOGRAPHY =====================================================*/
/***********************************************************************/

// FONT LOADING EXAMPLES ===============================================

// OPENTYPE ------------------------------------------------------------
//@font-face {
//  font-family: 'Montserrat', sans-serif;
//  font-display: block;
//}
//
//@font-face {
//  font-family: 'Playfair Display', serif;
//  font-display: block;
//}


/* Font families */

@font-face {
  font-family: 'Inter Tight';
  src: url('../../fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../../fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* Regular */
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Semi-Bold */
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Adjust the weight value accordingly */
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500; /* Adjust the weight value accordingly */
  font-style: normal;
  font-display: swap;
}


// Set from fonts loading above or in ../inc/enqueue.php
// Some fonts have different font-families for different font weights. Set them here.

$font-heading: 'Inter', sans-serif;
$font-normal: 'Inter', sans-serif;
$font-bold: 'Inter', sans-serif;
$font-accent: 'Inter Tight', sans-serif;


/* Font Weights */
$medium: 500;
$semi-bold: 600;
$regular: 400;
$weight-bold: 600;

// Set font-family that will be used for titles, text, buttons, and nav.

$font-text: $font-normal;
$font-btn: $font-bold;
$font-nav: $font-normal;
$font-tight: 'Inter Tight', sans-serif;


/***********************************************************************/
/*==== PAGE MEASUREMENTS ==============================================*/
/***********************************************************************/
$baseline: 10px;
$bl: $baseline;

/* Header (Main navigation) */
$header-height: 70px;

/***********************************************************************/
/*==== OTHER ==========================================================*/
/***********************************************************************/
$easing: all 0.2s ease-in-out;

