#footer {
  position: relative;
  width: 100%;
  background-color: $bright;
  color: $lightest;

  .container {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .footer-left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;

      .footer-logo {
        width: auto;
        display: inline-block;
        margin-right: 50px;
        height: 34px;

        img {
          height: 100%;
          width: auto;
          max-height: 34px;
          object-fit: contain;
        }
      }

      .footer-contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $lightest;

        a {
          color: inherit;
          @include font-size(15);
          line-height: 25px;
          margin-bottom: 5px;
          @include transition();
          text-decoration: underline;
          text-decoration-color: transparent;
          text-underline-offset: 3px;

          &:hover {
            text-decoration-color: $lightest;

          }
        }

        .footer-social-links {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          margin-top: 16px;

          img {
            height: 18px;
            width: auto;
            margin-right: 20px;
            @include transition();

            &:hover {
              filter: brightness(1.4);
            }

          }

        }
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .footer-title {
        color: $light;
        margin-bottom: 12px;
        text-align: right;
      }

      .subscribe-form {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        label {
          opacity: 0;
          height: 0;
        }

        input {
          padding: 9px 20px;
          border-radius: 23px;
          border: 1px solid $lightest;
          background-color: $bright;
          color: $lightest;
          @include font-size(15);
          line-height: 25px;
          @include transition();
          margin-right: 15px;
          height: 45px;
          margin-bottom: 0;

          &::placeholder {
            color: $lightest;
            letter-spacing: 1.6px;
            @include font-size(16);
            font-weight: $medium;
          }

          &:focus {
            outline: 0;
            border-color: $lightest;
            background-color: #FFFFFF0D;
          }
        }

        .btn {
          padding: 9px 38px;
          height: 45px;
          min-width: unset;
        }

      }

      .copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        @include font-size(14);
        color: $mid;

        a {
          color: inherit;
          text-decoration: $mid solid underline;
          margin-left: 2px;
          margin-right: 3px;
          display: inline-block;
        }
      }
    }
  }


}
