#header {
  width: 100%;
  max-width: 100vw;
  height: 70px;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $light;
  @include transition();
  box-shadow: 0px 3px 10px #0000001A;

  .header-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    box-sizing: content-box;

    @include b(mobile) {
      padding: 0 24px;
    }

    .header__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      width: 100%;

      @include b(tablet) {
        display: none;
      }

      .btn--secondary {
        margin-left: 10px;
      }

      nav {

        .main-menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          width: 100%;


          li {
            margin-right: 40px;
            color: $bright;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;

            &:hover {
              color: $darkest-hover;
            }

            a {
              color: inherit;
              font-family: $font-tight;
              font-weight: $regular;
              @include font-size(18);
              letter-spacing: 0;
              line-height: 25px;
              text-decoration: none;
              width: 100%;
              height: 100%;
              display: flex;
              @include transition();
            }

            &.menu-item-has-children {
              position: relative;

              svg {
                height: auto;
                width: 14px;
                margin-left: 4px;
                margin-top: 4px;
              }

              &:hover {
                .sub-menu {
                  display: flex;
                  flex-direction: column;
                }
              }

              .sub-menu {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: auto;
                height: auto;
                background-color: $light;
                padding: 12px 24px;
                z-index: 99999;
                //box-shadow: 0px 3px 6px #00000029;
                overflow: hidden;


                li {
                  margin-right: 0;
                  margin-bottom: 20px;
                  color: $bright;

                  &:last-of-type {
                    margin-bottom: 0;
                  }

                  &:hover {
                    color: $darkest-hover;
                  }


                  a {
                    color: inherit;
                    @include font-size(18);
                    font-family: $font-tight;
                    font-weight: $regular;
                    letter-spacing: 0;
                    line-height: 25px;
                    text-decoration: none;
                    white-space: nowrap;
                  }
                }
              }
            }
          }

        }
      }
    }


  }

  .current-menu-parent > a:before, .home.current-page-ancestor > a:before {
    //left: 0 !important;
    //right: 0 !important;
  }

  &.is--mobile-nav__active {
    background-color: $lightest;
  }

  // Top Level Nav Link is being viewed
  // |*HOME*| ABOUT | SERVICES +| CONTACT
  .current_page_item > a {
    //border-bottom: 2px solid var(--white);
    //margin-top: -2px !important;
    //padding-top: 3px;
    //line-height: 37px;
  }

  // Main nav link has a sub page that is being viewed
  // | HOME | ABOUT |*SERVICES +*| CONTACT
  .current-page-ancestor > a {
    //border-bottom: 2px solid var(--white);
    //margin-top: -2px !important;
  }

  // Sub page is being viewed
  // | HOME | ABOUT | SERVICES +| CONTACT
  //               |    *-SUB* |
  //              + --------- +
  .sub-menu .current_page_item a:first-of-type {
    //border-bottom: none !important;
    //background: fade(var(--white), 10%);
    //opacity: 1;
  }

  .header__site-branding {
    max-width: 198px;
    height: auto;
    display: flex;
    align-items: center;

    @include b(tablet) {
      max-width: 176px;
      min-width: 176px;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }


}

//MOBILE MENU

#header {

  .header_mobile__right {
    display: none;
    height: 20px;
    width: 27px;
    @include b(tablet) {
      display: flex;
    }

    button#nav-btn {
      width: 27px;
      height: 20px;
      border-top: 1px solid $darkest;
      border-bottom: 1px solid $darkest;
      border-left: none;
      border-right: none;
      display: block;
      position: relative;
      @include transition();
      cursor: pointer;

      &:before, &:after {
        content: '';
        width: 27px;
        height: 1px;
        background-color: $darkest;
        position: absolute;
        top: 50%;
        left: 0;
        @include transition();
      }

      &:hover {
        background-color: transparent;
      }

      &.is-active {
        border-color: transparent;

        &:before {
          transform: translate(0, -50%) rotate(45deg);
        }

        &:after {
          transform: translate(0, -50%) rotate(-45deg);
        }
      }


    }
  }

  #popout {
    background-color: $light;
    width: 100%;
    min-height: calc(100vh - $header-height);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    overflow-y: auto;
    text-align: center;
    margin-top: -1px;


    @include b(tablet) {
      display: flex;
      //transform: translateY(-200%);


    }

    .btn {
      width: 340px;
      height: 45px;
      transition: none;
    }

    #mobile-menu {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li.menu-item {
        @include font-size(25);
        line-height: 32px;
        font-weight: $medium;
        margin-bottom: 40px;

      }

      .menu-item-has-children {
        cursor: pointer;

        svg {
          transition: none;
          transform: rotate(-90deg);
          margin-bottom: -4px;
        }

        ul.sub-menu {
          height: 0;
          opacity: 0;


          li {
            visibility: hidden;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

        }


        &.is-active {

          svg {
            transform: rotate(90deg);
          }

          ul.sub-menu {
            height: auto;
            opacity: 1;
            padding-top: 40px;

            li {
              visibility: visible;
            }
          }
        }
      }

    }

    //when popout is active include transitions on inner items so they dont animate when fade out
    &.is-active {

      .btn {
        @include transition();
      }

      #mobile-menu {


        .menu-item-has-children {

          svg {
            @include transition();
          }

          ul.sub-menu {
            @include transition();
          }

        }
      }

    }


  }


}

body {

  @include b(tablet) {
    &.is-active {
      position: fixed;
      overflow: hidden;
    }

    ::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
      scrollbar-width: none; /* firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }
  }


}
