.wp-block-hero {
  min-height: calc(100vh - $header-height);


  .background {
    position: fixed;
    left: 0;
    top: $header-height;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    z-index: 0;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #222222;
      mix-blend-mode: hard-light;
      opacity: 0.5;
      z-index: 1; /* Adjust the z-index to ensure the overlay is above the image */
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {


    .hero-content {
      padding-top: 48vh;
      padding-bottom: 128px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      z-index: 2;
      max-width: 698px;

      &:after {
        content: '';
        position: absolute;
        bottom: -304px;
        left: 0;
        width: 1.2px;
        height: 435px;
        background-color: $darkest;
        z-index: 3;
      }


      h1, h2 {
        color: $light;
      }

      h1 {
        margin-bottom: 70px;
      }
    }
  }
}
