.wp-block-image-with-content {
  padding: 60px 20px;
  position: relative;
  min-height: 735px;
  display: flex;
  align-items: center;

  @include b(laptop) {
    padding-left: 0;
    padding-right: 0;
  }

  @include b(mobile) {
    padding: 100px 0;
  }


  &.is-style-left {
    .container {
      flex-direction: row-reverse;

      @include b(mobile) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
      }

      .text-container {
        margin-left: auto;
        margin-right: unset;
        margin-bottom: 0;

        @include b(mobile) {
          margin-bottom: 60px;
        }


      }

      .image-container {
        left: 20px;
        margin-left: 0;

        @include b(mobile) {
          left: unset;
          margin-left: 0;

        }
      }
    }
  }

  &.is-style-line {

    .text-container {
      position: relative;
      padding-bottom: 126px;

      .vertical-line {
        position: absolute;
        bottom: -215px;
        left: 0;
        width: 1.2px;
        height: 251px;
        background-color: $darkest;
        z-index: 3;

        @include b(mobile) {
          display: none;
        }

      }

      @include b(mobile) {
        padding-bottom: 0px;
      }


    }

    .image-container {

      .vertical-line {
        display: none;
      }

      @include b(mobile) {
        margin-bottom: 20px;
        .vertical-line {
          display: block;
          position: absolute;
          bottom: -210px;
          left: 0;
          width: 1px;
          height: 173px;
          background-color: $darkest;
          z-index: 3;
        }

      }
    }

  }

  &.is-style-line.is-style-left {
    .text-container {
      .vertical-line {
        left: unset;
        right: 0;
      }
    }

    .image-container {
      @include b(mobile) {
        margin-bottom: 20px;
        .vertical-line {
          content: '';
          position: absolute;
          bottom: -200px;
          left: unset;
          right: 0;
          width: 1px;
          height: 173px;
          background-color: $darkest;
          z-index: 3;
        }

      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    @include b(mobile) {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
    }

    .image-container {

      width: 525px;
      height: 675px;
      margin-left: 104px;
      position: absolute;
      right: 20px;
      top: 30px;

      @include b(laptop) {
        width: 40vw;
      }

      @include b(mobile) {
        width: 100%;
        position: relative;
        margin-left: 0;
        right: unset;
        top: unset;
        height: 437px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text-container {
      max-width: 520px;
      margin-right: auto;

      @include b(laptop) {
        width: 40vw;
      }

      @include b(mobile) {
        width: 100%;
        margin-right: unset;
        max-width: 560px;
        margin-bottom: 60px;
      }

      .content {
        margin-bottom: 40px;

        p, h2, h1, h3, h4, h5, h6 {
          margin-bottom: 0;
        }

        ul {
          margin-left: 20px;
          margin-top: 30px;

          @include b(mobile) {
            margin-left: 0;
          }


          li {
            position: relative;
            padding-left: 36px;
            margin-bottom: 10px;
            @include font-size(16);
            line-height: 30px;
            font-weight: 500;

            &:before {
              content: '';
              height: 11px;
              width: 16px;
              position: absolute;
              left: 0;
              top: 10px;
              display: inline-block;
              background-image: url('../../views/components/check.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
          }
        }
      }

      .accordion {
        margin-bottom: 30px;


        .accordion-item {
          border-bottom: 1px solid $darkest;
          background-color: transparent;
          padding: 20px;

          @include b(mobile) {
            padding: 20px 10px;
            padding-right: 0;
          }

          &:first-of-type {
            border-top: 1px solid $darkest;
          }

          .accordion-body {
            display: flex;
            max-height: 0;
            overflow: hidden;
            @include transition();
            padding-left: 15px;
            padding-right: 15px;


            &.open {
              max-height: 1000px; /* Adjust this value based on your content's needs */
              padding: 15px;
            }
          }

          .accordion-header[aria-expanded="true"] {
            svg {
              transform: rotate(45deg);
            }

          }


          button {
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-family: $font-normal;
            @include font-size(20);
            line-height: 25px;
            letter-spacing: 0;
            font-weight: $regular;
            text-align: left;
            padding: 0;
            cursor: pointer;
            text-decoration-color: transparent;
            text-underline-offset: 3px;
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            @include transition();


            &:hover {
              text-decoration-color: $bright;
            }

            .plus-svg {
              min-height: 37px;
              min-width: 37px;
              margin-left: 10px;


              svg {
                height: 100%;
                width: 100%;
                object-fit: contain;
                @include transition();
              }

              @include b(tablet) {
                margin-left: 10px;
              }

              @include b(mobile) {
                margin-left: 0;
                height: 20px;
                width: 20px;
                min-height: 40px;
                min-width: 40px;
              }
            }
          }
        }
      }


    }
  }


}
