.wp-block-mini-call-to-action {
  background-color: $bright;
  padding-top: 38px;
  padding-bottom: 38px;
  width: 100%;
  position: relative;
  z-index: 1;

  .mini-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @include b(tablet) {
      padding-left: 70px;
      padding-right: 70px;
      box-sizing: content-box;
    }

    @include b(mobile) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 24px;
      padding-right: 24px;
    }

    h3 {
      color: $lightest;
      margin-bottom: 0;

      @include b(mobile) {
        margin-bottom: 40px;
      }
    }

    a {
      display: inline-block;

      @include b(mobile) {
        width: 100%;
        max-width: 341px;
      }
    }
  }

  &.has-dark-background-color, &.has-darkest-background-color, &.has-bright-background-color {
    .mini-container {
      h3 {
        color: $lightest;
      }
    }
  }

  &.has-light-background-color, &.has-lightest-background-color, &.has-mid-background-color {
    .mini-container {
      h3 {
        color: $darkest;
      }

      a.btn.btn--primary, a.btn--primary-light, .btn--primary-light:visited {
        color: $darkest;
        border-color: $darkest;
        background-color: transparent;

        &:hover {
          background-color: $bright;
          color: $lightest;
        }
      }
    }
  }
}
