.wp-block-team-profiles {
  width: 100%;
  background-color: $light;
  padding: 100px 0 60px 0;


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .team-block-title, .team-block-subtitle {
      text-align: center;
      display: inline-block;
    }

    .team-block-title {
      margin-bottom: 20px;
    }

    .team-block-subtitle {
      margin-bottom: 60px;
      max-width: 696px;
    }

    .team-members {
      display: flex;
      flex-wrap: wrap;

      @include b(tablet) {
        width: calc(500px + 14px);
        margin-left: auto;
        margin-right: auto;
      }

      @include b(mobile) {
        align-items: center;
        justify-content: center;

      }

      @include b(tiny) {
        flex-direction: column;
        width: 100%;
      }

      .team-member {
        display: flex;
        flex-direction: row;
        width: calc(50% - 7px);
        min-height: 244px;
        margin-bottom: 40px;
        border-bottom: 1px solid $darkest;
        @include b(tablet) {
          width: calc(50% - 14px);
          flex-direction: column;
          align-items: flex-start;
          border-left: 1px solid $darkest;
          border-bottom: none;
        }

        @include b(tiny) {
          width: 100%;
          max-width: 250px;
        }


        &:nth-child(odd) {
          margin-right: 14px;

          @include b(tiny) {
            margin-right: 0;
          }
        }

        .team-member__photo {
          width: 48%;
          height: 100%;
          overflow: hidden;

          @include b(tablet) {
            width: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }


        }

        .team-member__info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          padding: 20px 15px 15px 15px;

          .team-member__info-header {
            flex: 1;

            .team-member__name {
              display: block;
              margin-bottom: 0;
            }

            .team-member__job-title {
              margin-top: 10px;

              @include b(mobile) {
                margin-bottom: 100px;
              }

            }
          }

          button.cta {
            margin-bottom: 0;
            line-height: 1;

            .btn--text {
              text-decoration-color: $light;

              &:hover {
                text-decoration-color: $darkest;
                cursor: pointer;
              }
            }
          }


        }

        .modal-container {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          z-index: 9999;

          .modal-backdrop {
            position: absolute;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            background-color: $lightest;
            opacity: 0.8;
            z-index: 9999;

          }

          .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 697px;
            height: auto;
            min-height: 414px;
            background-color: $light;
            transform: translate(-50%, -50%);
            padding: 50px 36px 50px 30px;
            box-shadow: 0px 3px 10px #00000029;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            z-index: 99999;

            @include b(mobile) {
              flex-direction: column;
              max-width: calc(100% - 50px);
              margin-left: auto;
              margin-right: auto;
              padding: 20px;
            }

            .modal-close {
              position: absolute;
              right: 14px;
              top: 44px;
              background: transparent;
              border: none;
              cursor: pointer;
              height: 30px;
              width: 30px;

              svg {
                height: 14px;
                width: 14px;
                stroke: $darkest;
              }
            }


            .team-member__photo {
              min-width: 227px;
              min-height: 220px;
              margin-right: 30px;
              overflow: hidden;
              width: 227px;
              height: 220px;

              @include b(mobile) {
                margin-bottom: 20px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }

            }

            .team-member__info {
              width: 100%;
              padding: 0;

              .team-member__info-header {

                p {
                  @include font-size(16);
                  line-height: 30px;
                  font-weight: $regular;
                }

                .team-member__job-title {
                  margin-bottom: 0;
                }
              }

              .bio {
                max-height: 60vh;
                overflow-y: auto;
                padding-right: 20px;
                box-sizing: content-box;

                @include b(mobile) {
                  max-height: 40vh;

                  ::-webkit-scrollbar {
                    display: block; /* Safari and Chrome */
                    scrollbar-width: unset; /* firefox */
                    -ms-overflow-style: unset; /* IE 10+ */
                  }

                  &::-webkit-scrollbar-thumb {
                    background: $mid;
                    border-radius: 15px;
                    box-shadow: none;
                  }

                }

                p {
                  margin-top: 5px;
                }

                /* width */
                &::-webkit-scrollbar {
                  width: 5px;
                  box-shadow: none;
                  margin-left: 20px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                  background-color: transparent;
                  box-shadow: none;
                  margin-left: 20px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: $mid;
                  border-radius: 15px;
                  box-shadow: none;
                }
              }


              a {
                height: 24px;
                width: 24px;

                svg {
                  height: 24px;
                  width: auto;
                  margin-right: 20px;
                  @include transition();
                  fill: $mid;

                  &:hover {
                    filter: brightness(0.8);
                  }

                }
              }


            }
          }
        }


      }
    }
  }

}
