.wp-block-tiled-gallery {
  margin-bottom: 100px;

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 227px;
    gap: 16px;
    margin-bottom: 16px;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

}
