.wp-block-tiled-gallery {

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 227px;
    gap: 16px;
    margin-bottom: 16px;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

}

.wp-block-gallery {
  max-width: 1053px;
  margin-left: auto;
  margin-right: auto;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 227px;
  gap: 16px;

  .wp-block-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
  width: unset;
}
