
.wp-block-gallery {
  max-width: 1053px;
  margin-left: auto;
  margin-right: auto;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 227px;
  gap: 16px !important;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: content-box;

  .lightbox-image-container {
    @include b(mobile) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @include b(mobile) {
    padding-left: 24px;
    padding-right: 24px;
    display: flex !important;
    flex-direction: column;
    grid-template-columns: unset;
    grid-auto-rows: unset;
    gap: 10px !important;
  }


  .wp-block-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;

    @include b(mobile) {
      width: 100%;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
  width: unset;

  @include b(mobile) {
    width: 100%;
  }
}
